<div class="page-header">
	<div class="page-title">
		<h4>Crear Cita Medica</h4>

	</div>
</div>
<!-- /add -->
<div class="card">
	<div class="card-body">
		<div class="row">
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Paciente</label>
					<mat-select class="select" placeholder="Elige al Paciente">
						<mat-option *ngFor="let paciente of selectedList1" [value]="paciente.userName"
							(click)="getMedicosData(paciente,'paciente')">
							{{paciente.userName |uppercase}}
						</mat-option>
					</mat-select>
				</div>
			</div>

			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Medico</label>
					<mat-select class="select" placeholder="Elige al Medico de la cita">
						<mat-option *ngFor="let medico of selectedList2" [value]="medico.nombre"
							(click)="getMedicosData(medico,'medico')">
							{{medico.nombre |uppercase}}
						</mat-option>
					</mat-select>

				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12">
				<div class="form-group">
					<label>Especialidad</label>
					<input type="text" [(ngModel)]="especialidad" readonly>
				</div>
			</div>
			<div class="col-lg-3 col-sm-6 col-12" style="display: flex;
			justify-content: center;
			align-content: center;
			align-items: center;">
				<div class="form-group" style="    margin-right: 10px;">
					<mat-label>Fecha</mat-label>
					<input type="text" [matDatepicker]="picker" [(ngModel)]="fechaIngreso">
					<mat-datepicker #picker></mat-datepicker>
				</div>

				<button style="    width: 35px;
				height: 35px;" mat-fab (click)="picker.open()">
					<mat-icon>calendar_month</mat-icon>
				</button>
			</div>


			<div class="col-lg-12">
				<div class="form-group">
					<label>Description</label>
					<textarea class="form-control" [(ngModel)]="descripcion"></textarea>
				</div>
			</div>

			<div class="col-lg-12">
				<a [routerLink]="routes.dashboard" class="btn btn-cancel" style="margin-right: 10px;">Salir</a>
				<a href="javascript:void(0);" class="btn btn-submit me-2" (click)="guardarCita()">Crear</a>
			</div>
		</div>
	</div>
</div>
<!-- /add -->